@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
Colors :

Title Background and Box:
--primary-color: #6366f1;

Button :
--accent-color: #22d3ee;

Headings :
--secondary-color: #a5b4fc;

Text color :
--text-color: #e2e8f0;

Navigation :
--code-background: #1e293b;
--section-background: #1e293b;

Background :
--background-color: #0f172a;

--border-color: #334155;

*/